body {
  background-image: url("images/fun.jpg");
  background-position: center center;      
  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover;      
}

h2, .messageCSS, .showCSS {
  text-align: center;
  color: blue;
}

.showCSS>.listItemsCSS {
  text-align: start;
  display: inline-block;
}

.listItemsCSScomp {
  text-align: start;
  display: inline-block;
}
