body {
  background-image: url("images/fun.jpg");
  background-position: center center;      
  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover;
  
  text-shadow: 1.2px 1.2px 0.2px #00FFFF;
  font-size: 120%;
}

h2, .messageCSS, .showCSS {
  text-align: center;
  color: blue;
}

.showCSS>.listItemsCSS {
  text-align: start;
  display: inline-block;
}

.listItemsCSScomp {
  text-align: start;
  display: inline-block;
}

.btn {
  font-size: 85%;
  color: blue;
  background: rgba(224, 255, 255, 0.6);

}
